*{
    margin: 0;
    padding: 0;
}
html {
    overflow: hidden;
}
body{
    background: url(123.jpg) repeat -30px -30px;
    background-size: cover;
}
/*左边容器*/
.left-container {
    width: 56vh;
    height: 56vh;
    margin-top: 12%;
    margin-left: 2.5%;
    border-radius: 50%;
    background: rgba(197,239,247);
}
/*左边图片*/
.left-container .photo{
    width: 20vh;
    height: 20vh;
    text-align: right;
    margin-left: 23%;
    margin-top: 29%;
    border-radius: 50%;
}
/*左边标题*/
.left-container h1{
    font-family: '楷体', sans-serif;
    text-align: center;
    height: 9.5vh;
    font-size: 5vh;
    margin-top: 5vh;
    margin-left: 10vh;
    color: rgb(73,42,42);

}
/*左边标题*/
.left-container h2{
    font-family: '楷体', sans-serif;
    font-size: 4vh;
    text-align: center;
    width: 20vh;
    margin-left: 4.5vh;
    color: rgb(73,42,42);
}
/*右边容器*/
.right-container{
    position: absolute;
    top: 0;
    right: 0;
    width: 52vh;
    height: 80vh;
    margin-top: 3.5%;
    margin-right: 2%;
    border-radius: 10%;
    padding-right: 5vh;
    padding-top: 5vh;
    padding-left: 5vh;
    background: rgba(197,239,247);
}
/*右边标题*/
.right-container p{
    font-family: '楷体', sans-serif;
    font-weight: bold;
    font-size: 7vh;
    text-align: center;
    height: 80px;
    margin-top: 1vh;
    color: rgb(73,97,155);
}
/*左边标题*/
.right-container h1{
    font-family: '楷体', sans-serif;
    font-size: 4vh;
    font-weight:900;
    height: 8vh;
    width: 25vh;
    margin-top: 3vh;
    color: rgb(73,97,155);
}
/*左边文本*/
.right-container pre{
    font-family: '楷体', sans-serif;
    font-size: 3.1vh;
    font-weight: 600;
    height: 8.3vh;
    color: rgb(73,42,42);
}
/*左边文本*/
.right-container span{
    font-family: '楷体', sans-serif;
    font-size:3.3vh;
    font-weight: 600;
    height:3vh;
    display: block;
    text-align: center;
    margin-bottom: 6vh;
    margin-top: 1vh;
    color: rgb(73,42,42);
}


